# Example Data Host Volume Mount #
data/*

# any artifacts from pyinstaller
build/*
dist/*
# ignore any python cache
*.pyc

# DigitalOcean Provisioning #
do-provision.sh

# don't allow checkin of private config
config.yml
diamondsfordays.json
